@import "~styles/shared/variables";
@import "~styles/shared/mixins";

.text {
    margin-bottom: var(--spacing-large);
    display: flex;
    flex-direction: column;
    align-items: center;
    p:last-of-type {
      margin-bottom: var(--spacing-large);
    }
  }

.btn {
  @include button(var(--color-primary));
}