@import "shared/variables";

:host.header--homepage {
  .header {
    background-color: transparent;
  }

  @media (min-width: $bp-md) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .header {
      .menu-item a:after {
        background-color: var(--color-primary);
      }
    }
  }
}

.header {
  background-color: var(--color-primary);
  margin-bottom: var(--spacing-large);
  a {
    color: var(--color-white);
  }
  @media (min-width: $bp-md) {
    padding: var(--spacing-medium);
  }
  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    background-color: var(--color-white);
    padding-top: var(--spacing-huge);
    &.is-active {
      display: grid;
      align-content: start;
      position: fixed;
      visibility: visible;
    }
    ul:first-of-type {
      margin-top: var(--spacing-large);
    }
    @media (min-width: $bp-md) {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      justify-items: center;
      visibility: visible;
      background-color: transparent;
      padding-top: 0;
      ul:first-of-type {
        order: 1;
        margin-top: 0;
      }
      ul:last-of-type {
        order: 3;
      }
    }
  }
  &__logo {
    visibility: visible;
    display: grid;
    justify-items: center;
    @media (min-width: $bp-md) {
      order: 2;
    }
  }
  &__logo-link {
    display: block;
    width: 200px;
    height: 100px;
    // TODO: Need a way to tell if we are on homepage and switch this from white to black accordingly
    // Can replace the use of `home` property in here and in app.component
    background-image: url("../../assets/logo-white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &.is-active {
      background-image: url("../../assets/logo-black.png");
    }
    @media (min-width: $bp-md) {
      &.is-active {
        background-image: url("../../assets/logo-white.png");
      }
    }
  }
  &__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 36px;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0;
    .header__nav.is-active & {
      display : grid;
      grid-template-rows : 1fr 1fr;
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .menu-item {
      width: 150px;
      text-align: center;
      a {
        font-size: 36px;
        line-height: 55px;
        text-transform: uppercase;
        .header__nav.is-active & {
          color: var(--color-black);
        }
      }
    }
    @media (min-width: $bp-md) {
      .menu-item {
        display: grid;
        justify-items: center;
        a {
          position: relative;
          font-size: var(--default-font-size);
          letter-spacing: 2px;
          transition: color 0.2s ease-in-out;
          overflow-x: hidden;
          &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: var(--color-white);
            height: 2px;
            width: 50%;
            bottom: 12px;
            transform: translateX(-150%);
            transition: transform 0.2s ease-in-out;
          }
          &:hover {
            &:after {
              transform: translatex(0);
            }
          }
        }
      }
    }
  }
}
