<header class="header">
<nav class="header__nav" [ngClass]="{'is-active': mobileNavActive}">
    <div class="header__logo-wrapper">
      <a class="header__logo-link" routerLink="/">
        <ep-photography-logo [ngClass]="{'is-active': mobileNavActive}"></ep-photography-logo>
      </a>
    </div>
    <ul class="header__menu">
      <li class="menu-item">
        <a routerLink="/" (click)="handleClick()">Home</a>
      </li>
      <li class="menu-item">
        <a routerLink="/blog" (click)="handleClick()">Blog</a>
      </li>
    </ul>
    <ul class="header__menu">
      <li class="menu-item">
        <a href="http://clients.ezeikelpemberton.com" (click)="handleClick()">Clients</a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/home']" fragment="contact" (click)="handleClick()">Get in touch</a>
      </li>
    </ul>
  </nav>
  <ep-photography-hamburger></ep-photography-hamburger>
</header>