<header class="header">
<nav class="header__nav" [ngClass]="{'is-active': menuActive}">
    <div class="header__logo">
      <a class="header__logo-link" [ngClass]="{'is-active': menuActive}" routerLink="/"></a>
    </div>
    <ul class="header__menu">
      <li class="menu-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="menu-item">
        <a routerLink="/blog">Blog</a>
      </li>
    </ul>
    <ul class="header__menu">
      <li class="menu-item">
        <a href="http://clients.ezeikelpemberton.com">Clients</a>
      </li>
      <li class="menu-item">
        <a routerLink="/contact">Get in touch</a>
      </li>
    </ul>
  </nav>
  <ep-photography-hamburger (active)="toggleMenu($event)"></ep-photography-hamburger>
</header>