<header class="header" [ngClass]="{'header--overlay': home}">
<nav class="header__nav" [ngClass]="{'is-active': isActive}">
    <div class="header__logo">
      <a class="header__logo-link" [ngClass]="{'is-active': isActive}" routerLink="/"></a>
    </div>
    <ul class="header__menu">
      <li class="menu-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="menu-item">
        <a routerLink="/blog">Blog</a>
      </li>
    </ul>
    <ul class="header__menu">
      <li class="menu-item">
        <a href="http://clients.ezeikelpemberton.com">Clients</a>
      </li>
      <li class="menu-item">
        <a routerLink="/get-in-touch">Get in touch</a>
      </li>
    </ul>
  </nav>
  <div class="header__hamburger" [ngClass]="{'is-active': isActive}">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</header>