@import "shared/variables";

.footer {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    grid-row-gap: var(--spacing-large);
    padding: var(--spacing-medium);
    background-color: var(--color-primary);
    color: var(--color-white);
}

.footer__social-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
    margin: 0;
    a {
        color: var(--color-white);
    }
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(4, 80px);
    width: auto;
  }
}

.footer__copyright {
    display: block;
    text-align: center;
    font-weight: 200;
}