@import "shared/variables";

.footer {
  display: grid;
  grid-template-rows: 80px auto 1fr;
  place-items: center;
  grid-row-gap: var(--spacing-large);
  padding: var(--spacing-large);
  background-color: var(--color-primary);
  background-image: linear-gradient(
    180deg,
    var(--color-primary),
    var(--color-gold)
  );
  color: var(--color-white);
  @media (min-width: $bp-md) {
    grid-row-gap: var(--spacing-huge);
    padding: var(--spacing-huge);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: var(--spacing-medium);
  }
}

.footer__social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
  margin: 0;
  a {
    color: var(--color-white);
  }
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(4, 80px);
    width: auto;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    align-self: end;
  }
}

.footer__logo {
  display: block;
  width: 150px;
  height: 100px;
  @media (min-width: $bp-md) {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    width: 200px;
  }
}

.footer__copy {
  display: grid;
  grid-row-gap: var(--spacing-medium);
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  a,
  a:link,
  a:active,
  a:visited,
  a:focus {
    color: var(--color-white);
    text-decoration: underline;
  }
  @media (min-width: $bp-md) {
    grid-row: 2 / -1;
    align-self: end;
  }
}
