<footer class="footer row">
  <ul class="footer__social-links">
        <li class="instagram">
          <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="facebook">
          <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="email">
          <a href="#"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="phone">
          <a href="#"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
        </li>
  </ul>
  <span class="footer__copyright">&copy; Ezeikel Pemberton Photography 2017</span>
</footer>
