<footer class="footer row">
  <ul class="footer__social-links">
        <li class="instagram">
          <a href="https://www.instagram.com/ezeikelpemberton/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="facebook">
          <a href="https://www.facebook.com/ezeikelpemberton/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="email">
          <a href="mailto:info@ezeikelpemberton.com?subject=Website Enquiry"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
        </li>
        <li class="phone">
          <a href="tel:+44-7932-442879"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
        </li>
  </ul>
  <span class="footer__copyright">&copy; Ezeikel Pemberton Photography 2017</span>
</footer>
