<div class="row">
  <div class="col-xs-12">
    <h3 class="form-title">Contact Form</h3>
    <div class="contact-form">
      <form action="">
        <fieldset>
          <label for="first-name">First Name:</label>
          <input type="text">
          <label for="last-name">Last Name:</label>
          <input type="text">
          <label for="email">Email:</label>
          <input type="email">
          <label for="email-confirm">Email (Confirm):</label>
          <input type="email" />
          <label for="tel">Phone Number:</label>
          <input type="tel" />
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </div>    
  </div>
</div>
