<div class="row">
  <div class="col-xs-12">
    <h3 class="form-title">Contact Form</h3>
    <div class="contact-form">
      <form (ngSubmit)="onSubmit();contactForm.reset()" #contactForm="ngForm">
        <fieldset>
          <label for="first-name">First Name:</label>
          <input [(ngModel)]="data.FirstName" type="text" name="first-name">
          <label for="last-name">Last Name:</label>
          <input [(ngModel)]="data.LastName" type="text" name="last-name">
          <label for="email">Email:</label>
          <input [(ngModel)]="data.Email" type="email" name="email">
          <label for="email-confirm">Email (Confirm):</label>
          <input [(ngModel)]="data.EmailConfirm" type="email" name="email-confirm"/>
          <label for="tel">Phone Number:</label>
          <input [(ngModel)]="data.MobilePhone" type="tel" name="tel" />
          <label for="message">Message:</label>
          <input [(ngModel)]="data.Message" type="text" name="message"/>
          <label for="job-type">Job Type:</label>
          <input [(ngModel)]="data.JobType" type="text" name="job-type"/>
          <button type="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
