@import "shared/variables";
@import "shared/mixins";

:host {
  display: grid;
  justify-items: center;
}

.form {
  display: grid;
  grid-row-gap: var(--spacing-medium);
  &__wrapper {
    padding: var(--spacing-large);
    @media (min-width: $bp-md) {
      width: 50%;
      padding: 0;
    }
  }
  &__submit-message {
    color: var(--color-white);
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    &--success {
      background-color: var(--color-green);
    }
    p {
      margin: 0;
    }
    span {
      text-decoration: underline;
    }
  }
  &__name {
    display: grid;
    @media (min-width: $bp-md) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--spacing-medium);
    }
  }
  // &__email {}
  .error {
    &__message {
      background-color: var(--color-red);
      color: var(--color-white);
      padding: 10px 10px;
    }
  }
  fieldset {
    padding: 0;
    margin: 0;
  }
  label {
    font-weight: 200;
    margin-bottom: var(--spacing-medium);
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea, select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: 0;
    border-radius: 0;
    padding: 1em;
    border: 1px solid #ecf0f1;
    transition: all 0.3s ease-in-out;
    width: 100%;
    font-weight: 300;
  }
  
  button[type="submit"] {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px 90px;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: background-color 0.3s ease-in-out;
    text-transform: uppercase;
  }
  
  button[type="submit"][disabled] {
    opacity: 0.7;
    text-decoration: line-through;
  }
}

