<section id="contact" class="contact">
  <h2 class="contact__title">Get in touch</h2>
  <div class="contact__copy">
    <!-- start slipsum code -->
    <p>
      Send us a quick message and we'll get back to you as soon as we can. The more detail the better, but if you're still not 100% sure on all the specifics, thats fine too! Alternatively you can shoot us an email at <a href="mailto:info@ezeikelpemberton.com">info@ezeikelpemberton.com</a>.
    </p>
    <!-- end slipsum code -->
  </div>
  <ep-photography-contact-form class="contact__form"></ep-photography-contact-form>
</section>
