@charset "utf-8";
@import "libs/libs-index";
@import "shared/shared-index";
@import "base/base-index";

/* You can add global styles to this file, and also import other style files */

/* Type kit */
.wf-loading {
    display: none;
  }
  
  /* Variables */
  :root {
    /* Colors */
    --color-primary: #E7995C;
    /* --color-primary: #F7E7CE; */
    --color-secondary: #F1D3D1;
    --color-black: #000;
    --color-white: #fff;
    --color-gold: #CDA349;
    --color-gold-lighter: #d4af61;
    --color-light-grey: #ecf0f1;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-grey: #bdc3c7;
  
    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
  
    /* Breakpoints */
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200px;
  
    /* Font Sizing */
    --default-font-size: 16px;
  }
  
  /* Generic */
  * {
    box-sizing: border-box;
    font-family: "proxima-nova", sans-serif;
  }
  
  body {
    font-size: var(--defaul-font-size);
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  a, a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
  
  /* Extra grid styles */
  .full-width-row {
    overflow-x: hidden;
  }
  
  .full-width-row > div {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  /* Typography */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    }
  
  p {
    font-weight: 300;
    text-align: center;
  }
  
  button {
    border: none;
    outline: none;
    background: none;
    display: block;
    color: var(--color-white);
  }
  
  /* Form stuff */
  input, textarea, select, label {
    font-size: var(--default-font-size);
  }
  
  input.ng-dirty.ng-invalid {
    border-color: var(--color-red);
  }
  
  select {
    background-color: var(--color-white);
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-light-grey);
    /*font-weight: 300;*/
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-light-grey);
    font-weight: 300;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--color-light-grey);
    font-weight: 300;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: var(--color-light-grey);
    font-weight: 300;
  }
  