.header {
    display: flex;
    justify-content: center;
    z-index: 1;
    color: var(--color-white);
}

.header a {
    color: var(--color-white);
}

.header__nav, .header__nav ul {
    display: flex;
    font-size: 36px;
    line-height: 55px;
    text-transform: uppercase;
}

.header__nav ul li {
    width: 150px;
}

.header__nav, .header__nav ul a {
    font-size: 36px;
    line-height: 55px;
    text-transform: uppercase;
}

.header__menu {
    margin: 0;
}

.header__logo-link {
    width: 200px;
    height: 100px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ezeikel-pemberton-photography.appspot.com/o/logo%2Flogo-white.png?alt=media&token=c6423558-01c9-4aff-9c8e-99bc636145f9");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Hamburger */
.header__hamburger {
    position: fixed;
    right: 20px;
    cursor: pointer;
}

.header__hamburger > span {
    display: block;
    margin: 4px auto;
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header__hamburger.is-active {
}

.header__hamburger.is-active > span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    background-color: var(--color-black);
}

.header__hamburger.is-active > span:nth-child(2) {
    opacity: 0;
}

.header__hamburger.is-active > span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    background-color: var(--color-black);
}


/* Media queries */

@media (min-width: 768px) {
    :host {
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
    }

    .header {
        width: 100%;
    }

    .header__hamburger {
        /* display: none; */
    }

    .header__nav {
        justify-content: center;
    }

    .header__nav .header__logo {
        order: 2;
    }

    .header__nav ul:first-of-type {
        order: 1;
    }

    .header__nav ul:last-of-type {
        order: 3;
    }

    .header__nav .menu-item {
        display: flex;
        justify-content: center;
    }

    .header__nav, .header__nav ul a {
        display: flex;
        align-items: center;
        font-size: var(--default-font-size);
        letter-spacing: 2px;
        transition: color 0.2s ease-in-out;
    }

    .header__nav, .header__nav ul a:hover {
        color: var(--color-primary);
    }

    .header__logo-link {
        display: block;
        order: 2;
    }
}