<header class="header header--home">
  <nav class="header__nav header__nav--home">
    <div class="header__logo header__logo--home">
      <a href="#" class="header__logo-link header__logo-link--home"></a>
    </div>
    <ul class="header__menu header__menu--home">
      <li class="menu-item"><a href="#">Home</a></li>
      <li class="menu-item"><a href="#">Blog</a></li>
    </ul>
    <ul class="header__menu header__mneu--home">
        <li class="menu-item"><a href="#">Clients</a></li>
        <li class="menu-item"><a href="#">Get in touch</a></li>
      </ul> 
  </nav>
</header>
