:host {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
    }    
}

.header {
    display: flex;
    justify-content: center;
    z-index: 1;
    a {
        color: var(--color-black);
    }
    @media (min-width: 768px) {
        width: 100%;
        a {
            color: var(--color-white);
        }
    }
    &__nav {
        .menu-item {
            width: 150px;
            @media (min-width: 768px) {
                display: flex;
                justify-content: center;    
            }            
        }
        .menu-item a {
            font-size: 36px;
            line-height: 55px;
            text-transform: uppercase;
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                font-size: var(--default-font-size);
                letter-spacing: 2px;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: var(--color-primary);                
                }
            }             
        }
        @media (min-width: 768px) {
            display: flex;
            position: absolute;
            justify-content: center;
            ul:first-of-type {
                order: 1;
            }
            ul:last-of-type {
                order: 3;
            }
        }       
    }
    &__menu {
        display: flex;
        font-size: 36px;
        line-height: 55px;
        text-transform: uppercase;
        margin: 0;
    }
    &__logo {
        @media (min-width: 768px) {
            order: 2;
        }
    }
    &__logo-link {
        display: block;
        width: 200px;
        height: 100px;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/ezeikel-pemberton-photography.appspot.com/o/logo%2Flogo-white.png?alt=media&token=c6423558-01c9-4aff-9c8e-99bc636145f9");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;   
    }
    &__hamburger {
        position: fixed;
        right: 20px;
        cursor: pointer;
        > span {
            display: block;
            margin: 4px auto;
            width: 25px;
            height: 2px;
            background-color: var(--color-white);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
        &.is-active {
            > span:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
                background-color: var(--color-black);           
            }
            > span:nth-child(2) {
                opacity: 0;
            }
            > span:nth-child(3) {
                transform: translateY(-6px) rotate(-45deg);
                background-color: var(--color-black);
            }
        }
    }
}