@import "shared/variables";
@import "shared/mixins";

.blog-preview-title {
  margin-bottom: var(--spacing-large);
}

.blog-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-large);
  @media (min-width: $bp-md) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--spacing-large);
  }
}

.preview {
  margin-bottom: var(--spacing-large);
  @media (min-width: $bp-md) {
    width: 30%;
    margin-bottom: 0;
    & + .preview {
      margin-left: var(--spacing-large);
    }
  }
}

.preview__image {
  margin-bottom: var(--spacing-large);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.preview__info {
  text-transform: uppercase;
  font-weight: 200;
}
