.container {
  position: relative;
  display: grid;
  grid-template-rows: 100px 0 1fr 100px;
  min-height: 100vh;
  overflow-x: hidden;
  &.container--header-overlay {
    grid-template-rows: 0 0 1fr 100px;
  }
}