:host {
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu > span {
  display: block;
  margin: 4px auto;
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger-menu.is-active {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.hamburger-menu.is-active > span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  background-color: var(--color-black);
}

.hamburger-menu.is-active > span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.is-active > span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  background-color: var(--color-black);
}

.hamburger-menu + .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  opacity: 0;
  overflow: hidden;
}

.hamburger-menu.is-active + .overlay {
  position: fixed;
  opacity: 1;
  z-index: 1
}

.mobile-menu {
  display: none;
  list-style-type: none;
}

.hamburger-menu.is-active + .overlay .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding-left: 0;
}

.mobile-menu li {
  font-size: 32px;
  margin-bottom: 24px;
}
