<div class="hamburger-menu"  [ngClass]="{'is-active': isActive}" (click)="toggleIsActive()">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<div class="overlay">
  <ul class="mobile-menu">
    <li><a routerLink="/" (click)="toggleIsActive()">Home</a></li>
    <li><a routerLink="/gallery" (click)="toggleIsActive()">Gallery</a></li>
    <li><a routerLink="/contact-us" (click)="toggleIsActive()">Contact Us</a></li>
    <li><a href="http://clients.ezeikelpemberton.com">Clients</a></li>
  </ul>
</div>
