<div class="row">
  <div class="col-xs-12">
    <div class="text">
      <h3>Welcome 👋🏾</h3>
      <hr />
      <p>We are a team of photographers based in London, UK who specialise in documenting those moments that will live on in the memory for a lifetime.</p>
      <p>We use every last drop of our creative juices to tell your story in the most unique way, while keeping as true as we can to the emotions and feelings at that time.</p>
      <p>Our ultimate goal is to have our clients re-ignite those emotions and feelings everytime they look at our work. ❤️</p>
    </div>
  </div>
</div>
