:host{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 60px;

}

.mouse {
  width: 40px;
  height: 60px;
  border-radius: 20px;
  border: 3px solid var(--color-white);
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 20px);
}
.mouse:before, .mouse:after {
  content: "";
  display: block;
  position: absolute;
}

.mouse:before {
  height: 30px;
  width: 4px;
  top: 10px;
  left: calc(50% - 2px);
  background: rgba(255, 255, 255, 0.55);
  border-radius: 2px;
}

.mouse:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 15px;
  left: calc(50% - 5px);
  background: var(--color-white);
  -webkit-animation: m-0-ball 1.2s ease-in-out infinite;
          animation: m-0-ball 1.2s ease-in-out infinite;
}

@keyframes m-0-ball {
  40%, 60% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
