.slide {
    //background-color: tomato;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-weight: 200;
    }
    h4 {
        font-weight: 500;
    }
}