.gallery-preview-title {
  margin-bottom: var(--spacing-large);
}

.gallery-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-large);
}

.preview {
  margin-bottom: var(--spacing-large);
}

.preview__image {
  margin-bottom: var(--spacing-large);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

.preview__info {
  text-transform: uppercase;
  font-weight: 200;
}
