<ep-photography-hero-carousel></ep-photography-hero-carousel>
<div class="copy">
  <h2 class="copy__title">Hi, welcome to Ezeikel Pemberton Photography 👋🏿</h2>
  <div class="copy__paragraphs">
    <p class="copy__paragraph">
      We are a team of photographers based in London, UK who specialise in documenting those moments that will live on in
      the memory for a lifetime.
    </p>
    <p class="copy__paragraph alternate">
      We use every last drop of our creative juices to tell your story in the most unique way, while keeping as true as
      we can to the emotions and feelings at that time.
    </p>
    <p class="copy__paragraph">
      Our ultimate goal is to have our clients re-ignite those emotions and feelings everytime they look at our work.
      ❤️
    </p>
  </div>
  <button class="copy__button">
    <a routerLink="/contact">Get in touch</a>
  </button>
</div>
<ep-photography-blog-preview></ep-photography-blog-preview>