<section class="details">
  <h2 class="details__title">Addicted to the details</h2>
  <div class="details__items-wrapper">
    <div
      class="details__item"
      *ngFor="let detail of details; let i = index"
      [ngClass]="{ alternate: i % 2 !== 0 }"
    >
      <div class="item__copy">
        {{ detail.copy }}
        <button *ngIf="detail.cta" class="item__cta">
          <a [routerLink]="['/home']" fragment="contact">Get in touch</a>
        </button>
      </div>
      <div
        class="item__image"
        [style.backgroundImage]="'url(' + detail.imageUrl + ')'"
      ></div>
    </div>
  </div>
</section>
